@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300;1,400&family=Poppins:ital,wght@0,400;0,500;1,300;1,400&display=swap');
:root{
    --primary:plum;
    --secondary:black;
    --tertiary:white;
    --quatanery:#262626;
    --pentanory:#305c68;
}
::-webkit-scrollbar{
    width: 13px;
}
::-webkit-scrollbar-track{
    width: 13px;
    background: var(--secondary);
    border-left: 0px solid var(--tertiary);
    border-right: 0px solid var(--tertiary);
}
::-webkit-scrollbar-thumb{
    background: #f7ce73;
    width: 0%;
    height: 35%;
    transition: 0.5 ease;
    cursor:pointer;
    border-radius: 12px;
}
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif,Georgia, 'Times New Roman', Times;
}
body{
    background-image: linear-gradient(130deg,
    #f7ce73,#f07a32);
    overflow-x: hidden;
}
#qwe{
    position: absolute;
    display: block;
    color: white;
    padding: 1rem;
}
.main{
    min-height: auto;
    padding: 4rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.blog{
    width: 80vw;
    background: var(--quatanery);
    color: var(--tertiary);
    padding: 1rem;
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.8);

}
.blog h2{
    font-weight: 450;
}
.blog .space{
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}
.blog .imgbox{
    padding: 0.5rem;
    height: 14rem;
   
}
.blog .imgbox img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6rem;
    background: var(--tertiary);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.8);
}
#nonradii{
    border-radius: 0rem;
}
.blog .date{
    font-weight: 450;
}
.blog p{
    letter-spacing: 1px;
    line-height: 1.6rem;
    font-weight: 550;
}
.back{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-content: center;
}
.btn{
    padding: 12px 10px;
    outline: none;
    border-radius: 1.4rem;
    background: var(--pentanory);
    border: 2px solid var(--quatanery);
}
.btn a{
    color: var(--tertiary);
    text-decoration: none;
}
footer{
    /* height: 4vh; */
    width: 100vw;
    display: flex;
    align-content: center;
    justify-content: center;
    background: var(--secondary);
    color: var(--pentanory);
}
footer a{
    color: var(--primary);
    text-decoration: none;
}
@media only screen and (max-width:500px){
    .blog p{
        font-size: 10px;
        letter-spacing: 1px;
    }
}
.fest{
    display: none;
}
.sidebar{
    display: none;
    position: fixed;
    width: 200px;
    left: -240px;
    height: 100%;
    background: #1e1e1e;
    transition: all .5s ease;
    z-index: 1000;
    border-radius: 2rem;
  }
  .sidebar a{
    display: block;
    height: 50px;
    width: 100%;
    color: white;
    line-height: 65px;
    padding-left: 10px;
    box-sizing: border-box;
    border-bottom: 1px solid black;
    border-top: 1px solid rgba(255,255,255,.1);
    border-left: 5px solid transparent;
    font-family: 'Open Sans', sans-serif;
    transition: all .5s ease;
  }
  .sidebar a:nth-child(6){
      border-bottom: 0;
  }
  .sidebar a:nth-child(1){
    border-top: 0;
}

  .sidebar a i{
    font-size: 23px;
    margin-right: 16px;
  }
  .sidebar a span{
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  #check{
    display: none;
  }
  label #btn,label #cancel{
    position: absolute;
    cursor: pointer;
    color: white;
    border-radius: 5px;
    border: 1px solid #262626;
    margin: 15px 30px;
    font-size: 29px;
    background: #262626;
    height: 45px;
    width: 45px;
    text-align: center;
    line-height: 45px;
    transition: all .5s ease;
  }
  label #cancel{
    opacity: 0;
    visibility: hidden;
  }
  #check:checked ~ .sidebar{
    left: 0;
  }
  #check:checked ~ label #btn{
    margin-left: 245px;
    opacity: 0;
    visibility: hidden;
  }
  #check:checked ~ label #cancel{
    margin-left: 245px;
    opacity: 1;
    visibility: visible;
  }
@media(max-width : 860px){
    nav{
        display: none;
    }
    .fest{
        display: block;
    }
    .sidebar{
      display: block;
      height: auto;
      width: 40px;
      left: 0;
      margin: 20px 0;
    }
    #btn,#cancel{
      display: none;
    }
    span{
      position: absolute;
      margin-left: 23px;
      opacity: 0;
      visibility: hidden;
    }
    .sidebar a{
      height: 60px;
    }
    .sidebar a i{
      margin-left: -5px;
    }
    a:hover {
      width: 200px;
      background: inherit;
    }
    .sidebar a:hover span{
      opacity: 1;
      visibility: visible;
    }
    a:nth-child(6){
      border-left: 5px solid var(--primary);
      color: var(--primary);
    }
  }
  .menu a{
    border-left: 0px;
 }
